# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.venv/
venv/
.env/

# Datos
01/images/
01/videos/
01/output/
02/images/
02/videos/
02/output/
03a/images/
03a/videos/
03a/output/